
body {

  font-family: 'Poppins', sans-serif;
}

.style_banner_header {

  background: url("../img/img-header/header.jpg")no-repeat center center;
  background-size: cover;
  margin-top: 0;
}

.style_nav, .style_footer {

  background-color: rgb(4, 31, 38);
}

.style_link {

  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 8px;
  color: white;
}

.style_carousel {

  color: rgb(159, 67, 90);
}

.font_blanco {

  color: rgb(25, 25, 25);
}

.style_servicios_h4 {

  color: rgb(49, 95, 132);
}

.style_link:focus, .style_link:hover {

  color: rgb(236, 91, 126);
  transition: all 1.5s ease-out;
  transform: scale(1.1);
}

button:focus {

  outline: 0;
}

.icon-menu {

  color: rgb(242, 242, 242);
  font-size: 35px;
}

.bg-tranparent {
  transition: all 2s ease;
}

.logo_nav img {

  width: 100px;
  height: 50px;
}

.iconos_hero img {

  width: 85px;
  height: 80px;
}

.logo_header img {

  width: 320px;
  height: 300px;
}

.servicios {

  background: url("../img/img-servicios/grilla-fondo-sobre-blanco.png")no-repeat center;
  background-size: cover;
}

.nosotras_bg {

  background: url("../img/img-nosotras/grilla-fondo-azul.png")no-repeat center;
  background-size: cover;
}

.icono-team  {

  position: relative;
  overflow: hidden;
}

.imagen {

  transition: all 0.7s;
}

.content-img  {

  position: absolute;
  bottom: 0;
  transform: translateX(100%);
  transition: all 0.6s ease-out;
}

.icono-team:hover .content-img {

  transform: translateX(0%);
}

.foto {

  border-radius: 50%;
}

.redes-sociales .icono {

  width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	color: rgb(242, 242, 242);
	text-align: center;
	display: inline-block;
	margin: 0px 20px;
  text-decoration: none;
	border-radius: 100px;
}

.redes-sociales .twitter {background: rgb(29, 161, 242);}
.redes-sociales .facebook {background: rgb(59, 89, 152);}
.redes-sociales .instagram {background: rgb(131, 58, 180);}

footer .p_m {

  font-size: 12px;
}

footer p {

  font-size: 13px;
}

.style_trabajos {

  background: rgba(4, 31, 38, 0.8);
}

.fondo_trabajos, .formulario_dispositivos  {

  background-color: rgb(196, 195, 194);
}

.fondotrabajos {

  background: url("../img/img-trabajos/bg-trabajos.jpg")no-repeat fixed center center;
  background-size: cover;
  margin-top: 0;
}

.fondotrabajos_container {

  background-color: rgba(255, 255, 255, 0.7);
}

.style_somos {

  background-color: rgb(196, 195, 194);
}

@media only screen and (max-width: 600px) {

    body {
      font-size: 18px;
    }

    .slider {
      font-size: 14px;
    }
}

@media only screen and (max-width: 991px) {

    .nosotras {

      font-size: 9px;
    }
}
